/*DEPENDENCIES FROM CORNERSTONE*/

/* prevents selection when left click dragging */
.disable-selection {
		-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}
/* prevents cursor from changing to the i bar on the overlays*/
.noIbar {
		cursor:default;
}
.annotationDialog, .relabelDialog {
		z-index: 1000;
		position: absolute;
		margin: 0px;
		left: 40%;
		top: 40%;
		width: 300px;
		border: 1px black solid;
		border-radius: 5px;
}
.annotationTextInputOptions {
		padding: 5px 0px;
}
.annotationTextInput {
		margin-left: 5px;
}
.annotationDialogConfirm {
		float: right;
}

/**********************************/
/**********************************/
/********** Start Here ************/
/**********************************/
/**********************************/

.container-fluid { 
  background: url(images/bg.jpg) no-repeat center center fixed;
  opacity: 0.73;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


html{
	height: 100%
}

body {
	height: 100%;
	background-color: #141414;
	color: #ecf0f1;
	font-family: 'Exo 2', sans-serif;

}

.img-responsive {
    margin: 0 auto;
}

.centering {
        float: none;
        margin: 0 auto;
    }


/* Deal with patient info */


.nav-pills>li.active {
	padding-bottom: 3px;
	padding-top: 3px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #141414;
	border: 2px solid #7b96b0;
}


/* Deal with tools box */


.list-group-item {
	background-color: #141414;
	color: #7b96b0;
	padding-left: 5px;
	padding-right: 5px;
}


a.list-group-item {
	width: 100px;
	border: 2px solid #7b96b0;
	color: #7b96b0;	
}

.nav-pills>li>a:hover {
	background-color: #7b96b0;
	color: #ecf0f1;
}

.spaces>li {
	padding-left: 8px;
	padding-right: 8px;
	opacity: 0.99;
}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover  {
	background-color: #7b96b0;
	border: 2px solid #7b96b0;
}


#sidebar {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #141414;
	opacity: 0.7;
}
.fill { 
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

#tool-content {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 22px;
}

#canvas {
	padding-top: 20px;
	padding-bottom: 20px;
}

#header {
	padding-top: 50px;
	
}

#header>hr {
	width: 90%;
	border-top: 1px solid #7b96b0;
}

#patient-info {
	padding-bottom: 25px;
}

#patient-info-header {
	padding-bottom: 25px;
}


#patient-info>h3 {
	padding-bottom: 25px;
}

#my-dropzone {
	background-color: transparent;
	border-color: transparent;
}

#main-title {
	margin: 15px;
}

#authors>p {
	margin: 0;
	padding-bottom: 10px; 
}

.dz-details {
	padding: 0px 0px 0px 0px !important;
}

.dz-preview {

	} 

.dz-file-preview{

}

.nice-button {
	background-color: transparent;
	border: 2px solid #7b96b0;
	border-radius: 4px;
	padding: 10px 20px 10px 20px;

}

#files-here{
	padding-bottom: 80px;
	padding-top: 70px;
}




