body {
	background-color: #141414;
	color: #ecf0f1;
}

.centering {
        float: none;
        margin: 0 auto;
    }


/* Deal with patient info */

.divider {
	margin-bottom: 10px;
	margin-bottom: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #141414;
	border: 2px solid #c0392b;
}


/* Deal with tools box */


.list-group-item {
	background-color: #141414;
	color: #c0392b;	
}


a.list-group-item {
	width: 100px;
	border: 2px solid #c0392b;
	color: #c0392b;	
}

.nav-pills>li>a:hover {
	background-color: #c0392b;
	color: #ecf0f1;
}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover  {
	background-color: #c0392b;
	border: 2px solid #c0392b;
}


#tool-content {
	padding-top: 100px;
	padding-bottom: 50px;
}

#toolbar {
	padding-bottom: 50px;
}

#header {
	padding-bottom: 15px;
}

#header>hr {
	width: 90%;
}

#patient-info {
	padding-bottom: 50px;
}

#patient-info>h3 {
	padding-bottom: 25px;
}





/* prevents selection when left click dragging */
.disable-selection {
		-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}
/* prevents cursor from changing to the i bar on the overlays*/
.noIbar {
		cursor:default;
}
.annotationDialog, .relabelDialog {
		z-index: 1000;
		position: absolute;
		margin: 0px;
		left: 40%;
		top: 40%;
		width: 300px;
		border: 1px black solid;
		border-radius: 5px;
}
.annotationTextInputOptions {
		padding: 5px 0px;
}
.annotationTextInput {
		margin-left: 5px;
}
.annotationDialogConfirm {
		float: right;
}


/*Deal with dropzone*/
.dz-size {
	visibility: hidden;
}

.dz-progress {
	visibility: hidden;
}



